.inventory {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.inventory-name {
    color: blueviolet;
}

.inventory-price {
    color: red;
}

.btn-inventory {
    color: white;
    background-color: blueviolet;
}